<div class="header">
	<h1 align="center">{{title}}</h1>
</div>
<div class="container">
	<form class="form-container" method="post" action="/orders/add">
		<div class="form-group">
			<label>Productos</label>
			<select class="form-control" name="product">
				{{#each products}}
					<option value="{{_id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="form-group">
			<label>Cantidad</label>
			<input type="text" class="form-control" name="amount" placeholder="Cantidad del pedido" required>
		</div>
		<div class="form-group">
			<label>Detalles</label>
			<textarea class="form-control" name="details" placeholder="Ingresar detalles de pedido especial"></textarea>
		</div>
		<input type="submit" class="btn btn-primary pull-right" value="Hacer pedido">
		<a href="/orders" class="btn btn-default pull-right">Anterior</a>
	</form>
</div>