<div class="header">
	<h1 align="center">{{title}}</h1>
	<h3 align="center">Bienvenido a <em>Burritas Express</em> {{username}}</h3>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<a href="/products/burritas"><img src="/images/burritas.jpg" height="300" width="500"></a>
		</div>
		<div class="col-md-6">
			<a href="/products/pancakes"><img src="/images/pancakes.jpg" align="center" height="300" width="500"></a>
		</div>
	</div>
</div>


 