 <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">{{title}}</h2>
        <label class="sr-only">Usuario</label>
        <input type="text" class="form-control" name="username" placeholder="Usuario" required autofocus>
        <label class="sr-only">Contraseña</label>
        <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
        <br>
        <a href="/register">Crear una cuenta</a>
      </form>