<div class="header">
	<h1 align="center">{{title}}</h1>
</div>
<div class="container">
	<a href="/orders/add" class="btn btn-primary pull-right">Nueva Orden</a>
	<ul class="list-group">
		{{#each orders}}
			<li class="list-group-item well" align="center">{{_id}}</li>
		{{/each}}
	</ul>
</div>